{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions", "last 2 Firefox versions"]
      }
    }],
    "react",
  ],
  "plugins": ["transform-class-properties"],
  "env": {
    "production": {
       "plugins": ["transform-react-constant-elements"]
    },
    "development": {
      "presets": [
        "power-assert"
      ]
    }
  }
}
